---
title: TEDxChongqing
---

  <header class="hero">
    <figure><img src="/img/logo-white.png"/></figure>
    <h1>TEDxChongqing</h1>

    <h2>2014 年 10 月 26 日<br/>国泰艺术中心剧院</h2>
  </header>

<nav class="global-nav">
  <ul>
    <li><a href="/#about">关于大会</a></li>
    <li><a href="/#speakers">演讲嘉宾</a></li>
    <li><a href="/sponsors.html">赞助单位</a></li>
    <li><a href="/#venue">会议地址</a></li>
    <li><a href="http://www.huodongxing.com/go/tedxchongqing" target="_blank" class="btn disabled">票已售罄</a></li>
  </ul>
</nav>

<section id="about" class="wrap about">
  <video  class="ted_videos" id="tedx_video1" src="http://tedx-res.qiniudn.com/multiple-lightning-480p.mp4" poster="http://tedx-res.qiniudn.com/multiple-lightning-480p-cover.jpg" width="680" controls>
  </video>
  <header>
    <h2>什么是TEDx?</h2>
  </header>
  <p>
    秉着“传播创想”的理念，TED推出了一个叫TEDx的项目，所谓TEDx，就是指那些由本地TED粉丝自愿发起、自行组织的小型聚会，让本地的TED粉丝能够聚到一起，共享TED一刻。”x”即是独立组织的TED活动之意。人们通过邀请当地演讲人进行现场演讲、共同观看TED演讲视频，就一些问题进行深入的交流和讨论。TED会给TEDx活动提供建议和支持，但是这些活动完全是由粉丝自行组织的。
    <a href="http://www.ted.com/tedx">更多介绍（英文）>>></a>
  </p>

</section>

<section id="speakers" class="wrap speakers">
  <div class="container">
    <header>
      <h2>演讲嘉宾</h2>
    </header>
    <ul class="speakers-list clearfix">
      <% event.speakers.each do |speaker| %>
      <li class="speaker">
          <figure class="photo">
            <img src="photos/<%= speaker.photo %>" alt="<%= speaker.name %>的照片">
            <h3><%= speaker.name %></h3>
            <h4><%= speaker.title %></h4>
          </figure>
          <a href="speakers.html#speaker_<%= speaker.name %>" class="intro">
          </a>
      </li>
      <% end %>
      <li class="speaker">
        <p><span class="ad-placeholder">即将揭晓</span></p>
      </li>
    </ul>
  </div>
</section>

<section id="venue" class="wrap venue">
  <div class="container">
    <div class="address">
      <h4>会议地址</h4>
      <img src="/img/venue.jpg"/>

      <p>
        国泰艺术中心<br>
        <a href="http://j.map.baidu.com/hQdHw" target="_blank" rel="nofollow" title="点击查看地图">
          渝中区解放碑商业区CBD
        </a>
      </p>
    </div>
  </div>
</section>
