---
title: 演讲
---
<div class="row">
  <div class="col-md-8">
    <embed src="http://player.youku.com/player.php/sid/<%= talk.youku_vid %>/v.swf" allowFullScreen="true" width="800" height="600" quality="high" align="middle" allowScriptAccess="always" type="application/x-shockwave-flash"></embed>
    <h3><%= talk.title %></h3>
    <%= link_to talk.year + talk.event.name, event_path(talk) %>
  </div>
  <div class="col-md-4">
    <a href="<%= speaker_path(talk) %>">
      <%= image_tag talk.speaker.photo %>
    </a>
    <h3><%= talk.speaker.name %> </h3>
    <h3><%= talk.speaker.title %> </h3>
  </div>
</div>
