<header class="affix-top">
  <div class="container">
    <a class="logo" href="/"><img src="/img/logo-black.png"></a>
    <!--<ul>
      <li class="dropdown">
        <a id="dLabel" data-toggle="dropdown" role="button">
          精彩视频
          <span class="caret"></span>
        </a>
        <ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">
          <li><a href="/talks">全部</a></li>
          <% all_talks.group_by { |talk| talk.category }.each do |category, talks| %>
 <li><a href="/talks/<%=category%>"><%= category %><small><%= talks.count %></small></a></li>
          <% end %>
          </ul>
      </li>
      <li class="dropdown">
        <a id="dLabel" data-toggle="dropdown" role="button">
          历届活动
          <span class="caret"></span>
        </a>
        <ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">
          <% all_events.each do |event| %>
 <li><a href="/<%= event.year %>/<%=event.event_id%>"><%= event.event.name %></a></li>
          <% end %>
          </ul>
      </li>
      <li><a href="/about">关于TEDxChongqing</a></li>
    </ul>-->
  </div>
</header>
