<div class="talk" data-vid="<%= talk.youku_vid %>">
  <!--<a href="<%= talk_path(talk) %>">-->
  <div  class="talk-thumbnail">
    <img src="/<%= talk.year %>/<%= talk.event_id %>/talks/<%= talk.id %>.jpg"></img>
    <div class="talk-overlay"></div>
  </div>
  <div class="talk-info">
    <div class="speaker_name"><%= talk.speaker.name %></div>
    <h3 class="title"><%= talk.title %></h3>
  </div>
  <!--</a>-->
</div>

